:host {
  display: flex;
  min-width: 320px;
  min-height: 320px;
  max-height: 25vh;
  max-width: 25vw;
  background: cadetblue;
  border-radius: 8px;
  box-shadow: 0 0 5px 0 #656565;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
  padding: 15px;

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  p {
    margin: 15px 0;
  }

  .modal-close {
    position: fixed;
    left: 32px;
    top: 32px;
    width: 33px;
    height: 33px;
    background: transparent;
    border: none;
    border-radius: 100%;
    overflow: hidden;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }

    &:before, &:after {
      content: ' ';
      position: absolute;
      left: 15px;
      top: 0;
      transform: translateY(-50%);
      height: 33px;
      width: 2px;
      background-color: white;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}
