<h1>How to inject component into DOM</h1>
<button (click)="addModalComponentWithoutData()">Without data</button>
<div>
  <button (click)="addModalComponentWithData()">With data : </button>
  <label>
    <input #dataToModal />
  </label>
</div>
