:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  h1, p, button, label {
    margin: 20px auto 20px auto;
  }

  h1 {
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 2rem;
  }

  button {
    transition: 0.15s;
    background-color: chocolate;
    border: 1px solid transparent;
    border-radius: 4px;
    text-transform: uppercase;
    color: white;
    padding: 10px 15px;

    &:hover {
      cursor: pointer;
      transition: 0.15s;
      color: black;
      border: 1px solid chocolate;
      background-color: transparent;
    }
  }

  div {
    text-align: center;

    button {
      margin-right: 5px;
    }
  }

  hr {
    width: 90vw;
  }
}
